/*----------------------- 
    fonts
------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap");

/*----------------------- 
    global css
------------------------*/
:root {
  --main-color: #1a5165;
  --main-to-dark-color: var(--main-color);
  --dark-to-main-color: var(--bg-dark);
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #000000;
  --black-400: #555555;
  --black-100: #f7f7f7;
  --black-000: #ffffff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #ffffff;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
}

img {
  /* max-width: 100%; */
  vertical-align: middle;
}

ul {
  list-style: none;
}

.letter-white {
  color: var(--black-000) !important;
}

.border-bottom {
  border: #f9f9f9 solid 1px;
}

.btn-1:focus {
  box-shadow: var(--shadow-black-300);
}

.btn-1:hover {
  color: #ffffff;
  background-color: var(--main-color);
  border-color: green;
}

@keyframes apareceDerecha_01 {
  0% {
    transform: translateX(350px);
  }
  100% {
    transform: translateX(0px);
  }
}

.section-padding {
  padding: 80px 0;
}

/*------------------------ 
    navbar
------------------------*/
.navbar {
  background-color: white;
  color: var(--main-color);
  padding: 20px 0;
  transition: all 0.5s ease;
}

.navbar-btn {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 700;
  transition: all 0.5s ease;
}

.navbar-shrink {
  background-color: var(--main-color);
  box-shadow: -1px 12px 16px -3px rgba(0,0,0,0.56);
-webkit-box-shadow: -1px 12px 16px -3px rgba(0,0,0,0.56);
-moz-box-shadow: -1px 12px 16px -3px rgba(0,0,0,0.56);
}

.navbar .container #logo {
  width: 20%;
}

.navbar .nav-item i {
  color: var(--main-color);
}

.navbar > .container {
  padding: 0 15px;
}

.navbar-brand {
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
  text-transform: capitalize;
}

.navbar .nav-item {
  margin-left: 1.5rem;
}

.navbar .nav-item i {
  font-size: 23.89px;
  padding: 3px;
  margin-top: 8px;
}

.navbar .nav-item .nav-link {
  color: var(--main-color);
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
  position: relative;
  padding: 0.875rem;
}

.navbar .nav-item .nav-link.active {
  background-color: #16b1e9;
  color: white;
  border-radius: 5px;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  min-height: 50vh;
  padding: 150px 0;
  background-color: var(--main-to-dark-color);
  position: relative;
  z-index: 1;
}

.home .home-btn {
  margin-top: 40px;
  color: white;
}

section.home.d-flex.align-items-center
  > div
  > div
  > div.col-lg-7.col-sm-12
  > div.input-group {
  width: 70%;
}

section.home.d-flex.align-items-center
  > div
  > div
  > div.col-lg-7.col-sm-12
  > div.input-group
  input {
  background-color: #1a5165;
  border-color: white;
  border-radius: 10px 0px 0px 10px;
  font-size: 15px;
  padding: 30px;
  font-family: "Open Sans", sans-serif;
  color: white;
}

section.home.d-flex.align-items-center
  > div
  > div
  > div.col-lg-7.col-sm-12
  > div.input-group
  > div
  > button {
  background-color: white;
  color: var(--main-color);
  font-size: 16px;
  border-radius: 0px 10px 10px 1px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.home-text p {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  margin: 0;
  font-weight: 300;
}

.home-img img {
  position: absolute;
  width: 100%;
}

.fono-logo .home-img img:nth-child(1) {
  right: 3rem;
  top: -4rem;
}

.fono-logo .home-img img:nth-child(2) {
  top: -10rem;
  width: 80%;
  right: 10px;
  animation: apareceDerecha_01 2.5s ease;
}

.home-text img {
  width: 72%;
}

.fono-logo {
  position: absolute;
  right: -15px;
}

.home-text .home-btn .yellow {
  color: #fad305;
}

.info-bg {
  background-color: #f9f9f9;
}

.section-padding .info {
  color: var(--main-color);
  letter-spacing: 1px;
  font-size: 18px;
  text-align: center;
  margin: auto;
  width: 70%;
}

.section-padding .container .frame-info {
  margin-top: 40px;
}

.section-padding .card-group .card {
  border: none;
  padding: 15px;
}
.section-padding .card-group .card img {
  width: 60px;
}
.section-padding .card-group .card-body {
  padding: 0 !important;
  margin-top: 10px;
}
.section-padding .container .title-objetivos {
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  line-height: 75px;
  font-size: 49px;
  margin-bottom: 50px;
}

.impact-bg {
  background-color: var(--main-color);
  font-family: "Roboto", sans-serif;
}

.impact-bg .container h2 {
  color: var(--black-000);
  font-size: 40px;
  margin-bottom: 40px;
}

.impact-bg .container .text-impact {
  margin-top: 30px;
}

.impact-bg .container p {
  color: #a7c4ce;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  width: 90%;
}

.slide-container {
  box-shadow: var(--shadow-black-100);
  border-radius: 35px;
}

/* FEATURES CAROUSEL */
.features-carousel {
  margin-top: 50px;
  position: relative;
}

.features .features-item {
  margin: 15px;
  padding: 30px;
  border-radius: 10px;
  /* text-align: center; */
  position: relative;
  z-index: 1;
}
.features .features-item p {
  font-family: "Open Sans", sans-serif;
  color: #a7c4ce;
  font-weight: 400;
  font-size: 14px;
  width: 220px;
}

.features .features-item::before,
.features .features-item::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

.features .features-item .icon {
  width: 60px;
  text-align: center;
  font-size: 30px;
  color: var(--main-color);
  position: relative;
  transition: all 0.5s ease;
  z-index: 1;
}

.features-carousel .features-item .icon img {
  width: auto !important;
}

.features .features-item .icon::before {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: all 0.5s ease;
  opacity: 0;
  z-index: -1;
}

.impact-bg .slide-container #customNextBtn {
  position: absolute;
  right: 39px;
  top: 40%;
  width: 40px;
  z-index: 10000;
  cursor: pointer;
}

.componentes,
.forma-parte {
  background-color: #f9f9f9;
}

.componentes .titulo {
  color: var(--main-color);
  margin-bottom: 2rem;
  font-weight: bold;
}

.forma-parte,
.componentes .sub-container {
  position: relative;
}

.componentes .item-container {
  margin: 0px 0px 2rem 3rem;
}

.componentes .container .item-container:nth-child(1) > img {
  position: absolute;
  left: 0;
  top: 2%;
}

.componentes .container .item-container:nth-child(2) > img {
  position: absolute;
  left: 0;
  top: 38%;
}

.componentes .container .item-container:nth-child(3) > img {
  position: absolute;
  left: 0;
  top: 78%;
}

.componentes .container .row strong {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  font-size: 21px;
  /* font-weight: bold; */
}

.componentes .container .row span {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
}

.dip-cert .container {
  position: relative;
}

.dip-cert .container h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  font-weight: bold;
  align-items: center;
  line-height: 79.69%;
  margin-bottom: 4rem;
}

.dip-cert .container .card-body {
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: var(--main-color);
}

.dip-cert .container .card-body img {
  position: absolute;
  right: 15px;
  bottom: 36px;
}

.dip-cert .container #customNextBtn2 {
  position: absolute;
  right: 40px;
  top: 50%;
  z-index: 10000;
  cursor: pointer;
}

.forma-parte .container span:nth-child(1) {
  display: inherit;
  font-weight: 300;
}

.forma-parte .container span:nth-child(2) {
  font-weight: bold;
}

.forma-parte .container span:nth-child(1),
.forma-parte .container span:nth-child(2) {
  display: inherit;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  color: var(--main-color);
}

.forma-parte img {
  position: absolute;
  top: 6.5rem;
}

section.section-padding.forma-parte
  > div
  > div
  > div:nth-child(2)
  > div
  > input {
  border-color: #1a5165;
  border-radius: 10px 0px 0px 10px;
  font-size: 20px;
  padding: 30px;
  font-family: "Open Sans", sans-serif;
}

body
  > section.section-padding.forma-parte
  > div
  > div
  > div:nth-child(2)
  > div
  > div
  > button {
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
  border-radius: 0px 10px 10px 1px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.footer .container .row {
  margin-bottom: 30px;
}

.footer .container .row h4 {
  font-weight: bold;
}

footer > div > div:nth-child(1) > div.col-lg-5 > img:nth-child(1) {
  position: absolute;
  top: -5%;
  width: 57%;
}

footer > div > div:nth-child(1) > div.col-lg-5 > img:nth-child(2) {
  left: 57%;
  position: absolute;
  bottom: 1rem;
}

.footer .container hr {
  border-top: 1px solid white;
  width: 90%;
}

body > footer > div > div:nth-child(3) > strong > div ul li {
  margin-right: 10px;
  font-size: 30px;
}

.fa-icon {
  font-size: 25px;
}

.social-media-icons {
  display: flex;
  transition: all 0.5s ease;
}

.show-nav-bar-mobile {
  display: block !important;
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    height: 0;
  }
  to {
    height: 245px;
  }
}

@keyframes fade-out {
  from {
    opacity: 245px;
  }
  to {
    opacity: 0px;
  }
}

/* RESPONSIVE */
@media (max-width: 1390px) {
  .forma-parte img {
    display: none;
  }
}

@media (max-width: 991px) {
  .navbar-toggler {
    background-color: var(--main-color);
    height: 40px;
    width: 60px;
    padding: 0;
    font-size: 16px;
    color: var(--black-000);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-toggler-icon {
    height: 0.5em !important;
  }

  .dip-cert .container .card-body img,
  .footer .container .footer-image,
  .forma-parte img,
  .dip-cert .container .dip-cert-visible,
  .fono-logo {
    display: none;
  }

  .componentes .container .row strong {
    font-size: 18px;
  }

  p {
    max-width: 350px;
  }

  section.home.d-flex.align-items-center
    > div
    > div
    > div.col-lg-7.col-sm-12
    > div.input-group {
    width: 95%;
  }
  .slide-container {
    width: 385px;
  }
  .social-media-icons {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
  }
}
